In [38]:

import numpy as np
import pandas as pd
import matplotlib as plt
import re
from datetime import date
def days_on_site(d1):
    d0=pd.to_datetime('2016/4/02') 
    delta = d0 - d1
    return delta.days

df1 = pd.read_csv('pupfile.42.xls','\t') 
df1.columns = ['Posted Date', 'Title','type','Breed','Locale','Gender', 'Age_Cat', 'Description']
df1.head()

,Posted Date,Title,type,Breed,Locale,Gender,Age_Cat,Description
0,04/02/2016,Mac - Schnauzer / Affenpinscher / Mixed (mediu...,rescue,Affenpinscher-Unknown Mix,"Vacaville, CA",Male,Adult,Posted Breed: Schnauzer / Affenpinscher / Mixe...
1,04/02/2016,Robin - Chihuahua (short coat) Dog For Adoption,rescue,Chihuahua,"San Jacinto, CA",Female,Adult,Posted Breed: Chihuahua (short coat). Please c...
2,04/02/2016,'WILLOW' - Labrador Retriever / Hound / Mixed ...,rescue,Labrador Retriever-Unknown Mix,"Agoura Hills, CA",Female,Adult,Posted Breed: Labrador Retriever / Hound / Mix...
3,04/02/2016,Diego - Chihuahua / Terrier / Mixed (short coa...,rescue,Chihuahua-Unknown Mix,"VACAVILLE, CA",Male,Adult,Posted Breed: Chihuahua / Terrier / Mixed (sho...
4,04/02/2016,WATSON - West Highland White Terrier Westie / ...,rescue,Maltese-Unknown Mix,"Pasadena, CA",Male,Adult,Posted Breed: West Highland White Terrier West...

In [39]:
df1.count()
# how to name the columns in my pandas dataframe????

# how to change all values in a column to something else
df1['Posted Date'] = pd.to_datetime(df1['Posted Date'])

In [40]:
df1.head()

,Posted Date,Title,type,Breed,Locale,Gender,Age_Cat,Description
0,2016-04-02,Mac - Schnauzer / Affenpinscher / Mixed (mediu...,rescue,Affenpinscher-Unknown Mix,"Vacaville, CA",Male,Adult,Posted Breed: Schnauzer / Affenpinscher / Mixe...
1,2016-04-02,Robin - Chihuahua (short coat) Dog For Adoption,rescue,Chihuahua,"San Jacinto, CA",Female,Adult,Posted Breed: Chihuahua (short coat). Please c...
2,2016-04-02,'WILLOW' - Labrador Retriever / Hound / Mixed ...,rescue,Labrador Retriever-Unknown Mix,"Agoura Hills, CA",Female,Adult,Posted Breed: Labrador Retriever / Hound / Mix...
3,2016-04-02,Diego - Chihuahua / Terrier / Mixed (short coa...,rescue,Chihuahua-Unknown Mix,"VACAVILLE, CA",Male,Adult,Posted Breed: Chihuahua / Terrier / Mixed (sho...
4,2016-04-02,WATSON - West Highland White Terrier Westie / ...,rescue,Maltese-Unknown Mix,"Pasadena, CA",Male,Adult,Posted Breed: West Highland White Terrier West...

In [41]:
df=pd.DataFrame(df1.Locale.str.split(',',1).tolist(),
                                   columns = ['city','state'])
df2=pd.concat([df1,df],axis=1)
df2.head(10)

,Posted Date,Title,type,Breed,Locale,Gender,Age_Cat,Description,city,state
0,2016-04-02,Mac - Schnauzer / Affenpinscher / Mixed (mediu...,rescue,Affenpinscher-Unknown Mix,"Vacaville, CA",Male,Adult,Posted Breed: Schnauzer / Affenpinscher / Mixe...,Vacaville,CA
1,2016-04-02,Robin - Chihuahua (short coat) Dog For Adoption,rescue,Chihuahua,"San Jacinto, CA",Female,Adult,Posted Breed: Chihuahua (short coat). Please c...,San Jacinto,CA
2,2016-04-02,'WILLOW' - Labrador Retriever / Hound / Mixed ...,rescue,Labrador Retriever-Unknown Mix,"Agoura Hills, CA",Female,Adult,Posted Breed: Labrador Retriever / Hound / Mix...,Agoura Hills,CA
3,2016-04-02,Diego - Chihuahua / Terrier / Mixed (short coa...,rescue,Chihuahua-Unknown Mix,"VACAVILLE, CA",Male,Adult,Posted Breed: Chihuahua / Terrier / Mixed (sho...,VACAVILLE,CA
4,2016-04-02,WATSON - West Highland White Terrier Westie / ...,rescue,Maltese-Unknown Mix,"Pasadena, CA",Male,Adult,Posted Breed: West Highland White Terrier West...,Pasadena,CA
5,2016-04-02,Lulu - Australian Cattle Dog/Blue Heeler / Bas...,rescue,Basset Hound-Unknown Mix,"Irvine, CA",Female,Senior,Posted Breed: Australian Cattle Dog/Blue Heele...,Irvine,CA
6,2016-04-02,BLAZE - Pit Bull Terrier / Mixed (medium coat)...,rescue,American Pit Bull Terrier-Unknown Mix,"Fairfield, CA",Male,Young,Posted Breed: Pit Bull Terrier / Mixed (medium...,Fairfield,CA
7,2016-04-02,Fritz - Terrier / Maltese / Mixed (medium coat...,rescue,Maltese-Unknown Mix,"San Diego, CA",Male,Baby,Posted Breed: Terrier / Maltese / Mixed (mediu...,San Diego,CA
8,2016-04-02,*MISTY - American Pit Bull Terrier (short coat...,rescue,American Pit Bull Terrier,"Santa Rosa, CA",Female,Young,Posted Breed: American Pit Bull Terrier (short...,Santa Rosa,CA
9,2016-04-02,ARIEL - Boerboel Mastiff / American Bulldog / ...,rescue,American Bulldog-Unknown Mix,"San Luis Rey, CA",Female,Young,Posted Breed: Boerboel Mastiff / American Bull...,San Luis Rey,CA

In [42]:
age = []
gender = []
rescue = []
days = []
for i in range(0,df2.Description.count()):
    a= df2.Description[i]
    if a.find("Posted Breed:",0,13) == 0:
        index=a.find(".",12)
        df2.Description.loc[i] = a[index+1:].strip()
    # extract age (best guess)
    r=re.search(r'([0-9]+)(?= (yrs|years|year) old)',df2.Description.loc[i],re.IGNORECASE)
    if r and int(r.group(0))<20:
        age.append( int(r.group(0)))
    else:
        age.append(None)
        
    # set gender dummy variable
    gender.append(1 if df2.Gender.loc[i]=="Male" else 0)
    # set rescue dummy variable
    rescue.append(1 if df2.type.loc[i]=="rescue" else 0)
    days.append(days_on_site(df2['Posted Date'].loc[i]))
    
df2['age'] = age
df2['is_male'] = gender
df2['is_rescue'] = rescue
df2['days_on_site'] = days

df2['days_on_site'].describe()

count    6695.000000
mean       17.013592
std        21.757950
min         0.000000
25%         4.000000
50%        14.000000
75%        26.000000
max        98.000000
Name: days_on_site, dtype: float64

In [43]:
df2.describe()

               age      is_male  is_rescue  days_on_site
count  1386.000000  6695.000000       6695   6695.000000
mean      4.319625     0.519343          1     17.013592
std       2.708378     0.499663          0     21.757950
min       1.000000     0.000000          1      0.000000
25%       2.000000     0.000000          1      4.000000
50%       4.000000     1.000000          1     14.000000
75%       6.000000     1.000000          1     26.000000
max      16.000000     1.000000          1     98.000000

In [44]:
df2.head()

,Posted Date,Title,type,Breed,Locale,Gender,Age_Cat,Description,city,state,age,is_male,is_rescue,days_on_site
0,2016-04-02,Mac - Schnauzer / Affenpinscher / Mixed (mediu...,rescue,Affenpinscher-Unknown Mix,"Vacaville, CA",Male,Adult,Adopting A Shelter Dog These dogs come without...,Vacaville,CA,3,1,1,0
1,2016-04-02,Robin - Chihuahua (short coat) Dog For Adoption,rescue,Chihuahua,"San Jacinto, CA",Female,Adult,Please contact Denise (ramonahumanesociety@yah...,San Jacinto,CA,NaN,0,1,0
2,2016-04-02,'WILLOW' - Labrador Retriever / Hound / Mixed ...,rescue,Labrador Retriever-Unknown Mix,"Agoura Hills, CA",Female,Adult,Meet Willow! She is an adorable loving 3 year ...,Agoura Hills,CA,3,0,1,0
3,2016-04-02,Diego - Chihuahua / Terrier / Mixed (short coa...,rescue,Chihuahua-Unknown Mix,"VACAVILLE, CA",Male,Adult,www.fieldofdreamrescue.net Email; fieldofdream...,VACAVILLE,CA,2,1,1,0
4,2016-04-02,WATSON - West Highland White Terrier Westie / ...,rescue,Maltese-Unknown Mix,"Pasadena, CA",Male,Adult,United Hope for Animals (UHA) is a volunteer g...,Pasadena,CA,NaN,1,1,0

In [16]:
#df2['age'].describe()
#del df2['gender']

In [45]:
df2.columns.values

array(['Posted Date', 'Title', 'type', 'Breed', 'Locale', 'Gender',
       'Age_Cat', 'Description', 'city', 'state', 'age', 'is_male',
       'is_rescue', 'days_on_site'], dtype=object)

In [46]:
############
import re
from textblob import TextBlob
sentiment=[]
subjectivity=[]
for a in df2.Description:
    if not pd.isnull(a):
        b=a.decode('utf8')
        m=TextBlob(b)
        sentiment.append(m.sentiment.polarity)
        subjectivity.append(m.sentiment.subjectivity)
    else:
        sentiment.append(None)
        subjectivity.append(None)

batch = '402'

df2['sentiment']=sentiment
df2['subjectivity']=subjectivity
df2.columns.values

array(['Posted Date', 'Title', 'type', 'Breed', 'Locale', 'Gender',
       'Age_Cat', 'Description', 'city', 'state', 'age', 'is_male',
       'is_rescue', 'days_on_site', 'sentiment', 'subjectivity'], dtype=object)

In [47]:
df2['batch'] = batch
df2.to_csv(path_or_buf='pupfile_ready'+batch+'.xls', sep='\t', na_rep='')
df4=pd.read_csv('pupfile_ready'+batch+'.xls','\t')

In [48]:
df4.describe()
#df2.head()

,Unnamed: 0,age,is_male,is_rescue,days_on_site,sentiment,subjectivity,batch
count,6695.000000,1386.000000,6695.000000,6695,6695.000000,6695.000000,6695.000000,6695
mean,3347.000000,4.319625,0.519343,1,17.013592,0.196844,0.406997,402
std,1932.824358,2.708378,0.499663,0,21.757950,0.145297,0.219751,0
min,0.000000,1.000000,0.000000,1,0.000000,-0.458333,0.000000,402
25%,1673.500000,2.000000,0.000000,1,4.000000,0.095982,0.359286,402
50%,3347.000000,4.000000,1.000000,1,14.000000,0.208528,0.476389,402
75%,5020.500000,6.000000,1.000000,1,26.000000,0.290290,0.548926,402
max,6694.000000,16.000000,1.000000,1,98.000000,0.850000,1.000000,402

In [49]:
df4.head()

,Unnamed: 0,Posted Date,Title,type,Breed,Locale,Gender,Age_Cat,Description,city,state,age,is_male,is_rescue,days_on_site,sentiment,subjectivity,batch
0,0,2016-04-02,Mac - Schnauzer / Affenpinscher / Mixed (mediu...,rescue,Affenpinscher-Unknown Mix,"Vacaville, CA",Male,Adult,Adopting A Shelter Dog These dogs come without...,Vacaville,CA,3,1,1,0,0.174038,0.424038,402
1,1,2016-04-02,Robin - Chihuahua (short coat) Dog For Adoption,rescue,Chihuahua,"San Jacinto, CA",Female,Adult,Please contact Denise (ramonahumanesociety@yah...,San Jacinto,CA,NaN,0,1,0,0.258461,0.517690,402
2,2,2016-04-02,'WILLOW' - Labrador Retriever / Hound / Mixed ...,rescue,Labrador Retriever-Unknown Mix,"Agoura Hills, CA",Female,Adult,Meet Willow! She is an adorable loving 3 year ...,Agoura Hills,CA,3,0,1,0,0.313317,0.567783,402
3,3,2016-04-02,Diego - Chihuahua / Terrier / Mixed (short coa...,rescue,Chihuahua-Unknown Mix,"VACAVILLE, CA",Male,Adult,www.fieldofdreamrescue.net Email; fieldofdream...,VACAVILLE,CA,2,1,1,0,0.443125,0.651667,402
4,4,2016-04-02,WATSON - West Highland White Terrier Westie / ...,rescue,Maltese-Unknown Mix,"Pasadena, CA",Male,Adult,United Hope for Animals (UHA) is a volunteer g...,Pasadena,CA,NaN,1,1,0,0.280000,0.393333,402